bottle==0.12.13
pygraphviz==1.5
requests==2.20.1
transitions==0.6.9
firebase-admin==2.14.0
google-api-core==1.6.0
google-auth==1.6.1
google-cloud-core==0.28.1
google-cloud-firestore==0.30.0
imgurpython==1.1.7
Pillow==8.2.0